body {
    font-family: helvetica, sans-serif;
    width: 350px;
    background-color: #5E2612;
    padding-left: 2%;
    padding-top: 2%;
  }

  label {
    font-weight: bold;  
    color: #fff8ea;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #fff8ea;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
  }